body{
  margin: 0;
  padding: 0;
}

#top-image {
  /*background: linear-gradient(*/
      /*rgba(0, 0, 0, 0.2),*/
      /*rgba(0, 0, 0, 0.2)*/
  /*), url('../images/mountains_light_sun_sky_clouds_114136_2560x1080.jpg') no-repeat fixed;*/
  /*position:fixed ;*/
  position: absolute;
  top:58px;
  width:100%;
  z-index:-100;
  height:100%;
}
/*.total{*/
  /*position: fixed;*/
  /*width: 100%;*/
/*}*/
.jumbotron {
  background-color: transparent !important;
  color: #262626 !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin-left: 20%;
}

#content {
  /*width: 65%;*/
  transform: 			translateY(-50%);
  top: 30%;
  position: relative;
  height: 35%;
}

